<?xml version="1.0"?>
<appSettings>
  <add key="BaseUrl" value="BASE URL" />
  <add key="TwilioAccountSid" value="TWILIO ACCOUNT SID" />
  <add key="TwilioAuthToken" value="TWILIO AUTH TOKEN" />
  <add key="TwilioNumber" value="TWILIO NUMBER" />
</appSettings>
