<form id="enter_number">
    <p>Enter your phone number:</p>
    <p><input type="text" name="phone_number" id="phone_number" /></p>
    <p><input type="submit" name="submit" value="Verify" /></p>
</form>

<div id="verify_code" style="display: none;">
    <p>Calling you now.</p>
    <p>When prompted, enter the verification code:</p>
    <h1 id="verification_code"></h1>
    <p><strong id="status">Waiting...</strong></p>
</div>